{% extends "base.html" %}

{% block content %}
    <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
      text-align: left;
    }
    </style>
    <h1>Hi, {{ current_user.username }}!</h1>

    {% if is_brave_collective %}
    <div><p>Welcome member of Brave Collective!</p></div>

    <div>
        <form action="/complete" method="post">
            {{ form.hidden_tag() }}
            <table>
                <tr>
                    <th></th>
                    <th>Character</th>
                    {% if is_brave_industries %}
                    <th>Fill Request</th>
                    {% endif %}
                    <th>Name</th>
                    <th>ME</th>
                    <th>TE</th>
                    <th>Runs</th>
                    <th>Requested</th>
                </tr>
                {% for request in requests %}
                <tr>
                    <td rowspan="{{ requests[request]|length }}">{{ request }}</td>
                    <td rowspan="{{ requests[request]|length }}">{{ requests[request][0].Character }}</td>
                    {% if is_brave_industries %}
                    {% if request.Completed %}
                    <td rowspan="{{ requests[request]|length }}"><input type="checkbox" name="{{ requests[request][0].ID }}" disabled="disabled"></td>
                    {% else %}
                    <td rowspan="{{ requests[request]|length }}"><input type="checkbox" name="{{ requests[request][0].ID }}"></td>
                    {% endif %}
                    {% endif %}
                    {% for item in requests[request] %}
                    <td>{{ item.Name }}</td>
                    <td>{{ item.ME }}</td>
                    <td>{{ item.TE }}</td>
                    <td>{{ item.Runs }}</td>
                    <td>{{ item.Copies }}</td>
                    </tr><tr>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            {% if is_brave_industries %}
            <p>{{ form.submit() }}</p>
            {% endif %}
        </form>
    </div>

    {% endif %}
{% endblock %}