{% extends "base.html" %}

{% block content %}
    <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
      text-align: left;
    }
    .container {
      display: flex;
      justify-content: center;
    }
    </style>

    <div><p>The following items need work.  If you have available Science slots, please consider starting a job for something below.</p></div>

    <div class="container">
        <table>
            <tr><th>Name</th><th>Quantity</th><th>In Copy</th><th>In Research</th></tr>
            {% for item in needed %}
            <tr>
                <td>{{ item }}</td>
                <td>{{ needed[item] }}</td>
                <td>No</td>
                <td>No</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}